[Desktop Entry]
Version=1.0
Name=sandbox file manager
Name[zh_CN]=沙箱-文件浏览器
Comment=sandbox
Comment[zh_CN]=打开终端
GenericName=sandbox
Keywords=Internet;Browser;
Keywords[zh_CN]=Browser;网站;
Exec=/usr/bin/sandbox -f
Icon=firefox
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;WebBrowser;
