[Unit]
Description=Sandbox
After=display-manager.service

[Service]
Type=simple
ExecStart=/usr/local/andsec/sandbox/bin/sandbox
ExecStop=/usr/local/andsec/sandbox/bin/sandbox -q
Restart=always

[Install]
Alias=sandbox.service
WantedBy=multi-user.target